{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>404 - Open Tech Calendar</title>
	<link rel="stylesheet" type="text/css" href="/theme/default/css/main.css?v={{ config.assetsVersion }}">
	<link rel="stylesheet" type="text/css" href="{%  if config.useLibraryCDNs %}https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css{%  else %}/font-awesome-4.5.0/css/font-awesome.min.css{%  endif %}">
	{%  if config.useLibraryCDNs %}
		<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	{%  else %}
		<link rel="stylesheet" type="text/css" href="/jqueryui-1.11.4/jquery-ui.theme.min.css">
		<link rel="stylesheet" type="text/css" href="/jqueryui-1.11.4/jquery-ui.min.css">
	{%  endif %}
	<link rel="shortcut icon" href="/theme/default/img/favicon.png?v={{ config.assetsVersion }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<link rel="manifest" href="/manifest.json">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body>
<div id="page">
	{% include 'site/pageHeaderMinimal.html.twig' %}
	<div id="body">

		<div class="contentMain">
			<h2>Sorry! 404 Page Not Found</h2>
			<p></p>Visit <a href="/">the home page</a>, <a href="/contact/">contact us to ask for help</a></p>
			<p>... or do you want to <a href="/game/">play a game</a>?</p>

		</div>
	</div>
	{% include 'site/pageFooterMinimal.html.twig' %}
</div>
{% block scriptsForState %}{% endblock %}
<script src="/info.js.php?v={{ config.assetsVersion }}" type="text/javascript"></script>
<script src="{%  if config.useLibraryCDNs %}https://code.jquery.com/jquery-1.12.0.min.js{%  else %}/js/jquery-1.12.0.min.js{%  endif %}" type="text/javascript"></script>
<script src="{%  if config.useLibraryCDNs %}https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js{% else %}/jqueryui-1.11.4/jquery-ui.min.js{%  endif %}" type="text/javascript"></script>
<script src="/theme/default/js/general.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
<script src="/theme/default/js/general.site.js?v={{ config.assetsVersion }}" type="text/javascript"></script>
{% block scripts %}{% endblock %}
{% include 'analytics.html.twig' %}
</body>
</html>


