{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
<div id="header">
	<div class="contentMain">
		<div class="title siteTitle">
			<a href="/">
				<img src="/{% if config.isSingleSiteMode %}theme/default/img/logo.png{% else %}getLogo.php{% endif %}?v={{ currentSite.logoCacheKey }}" alt="logo" class="logo">
				<h1>{{ currentSite.title }}</h1>
			</a>
		</div>
		{% if config.siteWideMessageHTML %}
			<div id="headerSponsorsWrapper">
				<div id="headerSponsors">
					<div id="headerSponsorsContents">
                        {{ config.siteWideMessageHTML | raw }}
					</div>
				</div>
			</div>
		{% endif %}
		<div style="clear: both"></div>

		{%  if onFrontPage is defined and onFrontPage %}
			<div id="headerExplanationText">
				<p>We are a user editable calendar of your local tech meet ups.</p>
				<p>We help people find great tech events and enable tech events to work together for everyone's benefit.</p>
				{% if currentUserActions.has("org.openacalendar","eventNew") or ( currentUser is null and anyVerifiedUserActions.has("org.openacalendar","eventNew") ) %}
					<p>Know of an event we are missing? <a href="/event/new">Please add it</a>!</p>
				{% else %}
					<p>Know of an event we are missing? Please add it!</p>
				{% endif %}
			</div>
		{%  endif %}

		<ul class="menu">
			<li class="menu">
				<a href="/event" class="action">Events</a>
				<ul class="submenu">
					<li><a href="/">In your area ...</a></li>
					<li><a href="/event">All Events</a></li>
					{% if currentSiteFeatures.has('org.openacalendar.curatedlists','CuratedList') %}
						<li><a href="/curatedlist">Lists</a></li>
					{% endif %}
					{% if currentSiteFeatures.has('org.openacalendar','Tag') %}
						<li><a href="/tag">Tags</a></li>
					{% endif %}
					{% if currentSiteFeatures.has('org.openacalendar','Importer') %}
						<li><a href="/importurl">Import</a></li>
					{% endif %}
					{% if currentUserActions.has("org.openacalendar","eventNew") or ( currentUser is null and anyVerifiedUserActions.has("org.openacalendar","eventNew") ) %}
						<li><a href="/event/new">Add an Event</a></li>
					{% endif %}
				</ul>
			</li>
			{% if currentSiteFeatures.has('org.openacalendar','Group') %}
				<li class="menu">
					<a href="/group" class="action">Groups</a>
					{% if currentUserActions.has("org.openacalendar","groupNew") %}
						<ul class="submenu">
							<li><a href="/group">Groups</a></li>
							<li><a href="/group/new">Add a Group</a></li>
						</ul>
					{% endif %}
				</li>
			{% endif %}
			{# We don't have currentSite.isFeatureVirtualEvents in the next OR statement because if
			site has virtual only, theres not much point showing places menu at all.
			It'll only have one entry and it will be the same as the main event listings anyway.
			#}
			{% if currentSite.cachedIsMultipleCountries  or currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
				<li class="menu">
					<a href="/places" class="action">Places</a>
					<ul class="submenu">
						{% if not currentSite.cachedIsMultipleCountries and currentSiteHasOneCountry is defined %}
							<li><a href="/country/{{ currentSiteHasOneCountry.twoCharCode }}">{{ currentSiteHasOneCountry.title }}</a></li>
						{% else %}
							<li><a href="/country">Countries</a></li>
						{% endif %}
						{% if currentSiteFeatures.has('org.openacalendar','VirtualEvents') %}
							<li><a href="/venue/virtual">Virtual</a></li>
						{% endif %}
						{% if currentSiteFeatures.has('org.openacalendar','PhysicalEvents') %}
							<li><a href="/venue">Venues</a></li>
							{% if currentSiteFeatures.has('org.openacalendar','Map') %}
								<li><a href="/map">Map</a></li>
							{% endif %}
							{% if currentUserActions.has("org.openacalendar","venueNew") %}
								<li><a href="/venue/new">Add a Venue</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</li>
			{% endif %}
			<li class="menu">
				<a href="/history" class="action">Changes</a>
				{% if currentUser is not null and currentUserWatchesSite is defined %}
					<ul class="submenu">
						<li><a href="/history">Recent Changes</a></li>
						<li id="userWatchesSite">
							{%  if currentUserWatchesSite %}
								<a href="/watch/">Watching!</a>
							{% else %}
								<a href="/watch/">Watch?</a>
							{% endif %}
						</li>
					</ul>
				{% endif %}
			</li>
			{#  the class user is used by JS to move the menu to the left #}
			<li class="user">
				{% if currentUser is null %}
					<li class="user action">
						<a href="{{ config.getWebIndexDomainSecure() }}/you/login">Login</a>
					</li>
					<li class="user action">
						<a href="{{ config.getWebIndexDomainSecure() }}/you/register">Sign up</a>
					</li>
				{% else %}
					<a href="/currentuser" class="action">{{ currentUser.displayname }}</a>
					<ul class="submenu">
						{% if currentSite.cachedIsMultipleTimezones %}
							<li><a href="/mytimezone">{{ currentTimeZone }}</a></li>
						{% endif %}
						<li><a href="{{ config.getWebIndexDomainSecure() }}/me/">Your account</a></li>
						{% if currentUserActions.has("org.openacalendar","admin") %}
							<li><a href="{{ config.getWebSiteDomainSecure( currentSite.slug ) }}/admin">Calendar Admin</a></li>
						{% endif %}
						{% if currentUser.isSystemAdmin %}
							<li><a href="{{  config.getWebIndexDomainSecure() }}/sysadmin">Sys Admin</a></li>
						{% endif %}
						<li><a href="{{ config.getWebIndexDomainSecure() }}/me/logout">Logout</a></li>
					</ul>
				{% endif %}
			</li>
			{% if currentUser %}
				{#  the class user is used by JS to move the menu to the left #}
				<li id="NotificationMenu" class="user">
					<a href="{{ config.getWebIndexDomainSecure() }}/me/notification" id="NotificationMenuLink" class="action">
						<div class="iconBellOSmall"></div> <span id="NotificationMenuLinkCount"></span>
					</a>
					<ul id="NotificationSubMenu" class="submenu">
						<li><a href="/me/notification">Loading ...</a></li>
					</ul>
				</li>
			{% endif %}
		</ul>
		<div class="afterMenu"></div>
	</div>
</div>


{%  if extensions.getExtensionById('uk.co.opentechcalendar').showEmailPreferencesPrompt(currentUser) %}
	<div class="flash-error">
		We think we have always treated your email inbox with respect, but to be sure please <a href="/me/emails">re-confirm which emails you are happy to get from us</a>!
	</div>
{%  endif %}

