{% extends 'index/page.html.twig' %}

{% block pageTitle %}Privacy - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/privacy" />
{% endblock %}

{% block content %}
	
	<div class="contentMain">
		<h2>Privacy</h2>
		
		<p>We will not send you marketing, or sell your details to third parties for the purposes of marketing.</p>

	</div>
		
{% endblock %}
