{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
<script type="text/javascript" src="/leaflet-0.7.7/leaflet.js"></script>
<script type="text/javascript" src="/leaflet-0.7.7/markercluster1/leaflet.markercluster.js"></script>
<script>
function configureBasicMap(mapObject) {
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	    }).addTo(mapObject);
}
</script>
