{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{% block pageTitle %}{% endblock %} {{ config.installTitle }}</title>
		<link rel="stylesheet" type="text/css" href="/theme/default/css/displayboard.css?v={{ config.assetsVersion }}">
		<link rel="shortcut icon" href="/theme/default/img/favicon.png?v={{ config.assetsVersion }}" />
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		{%  if refreshInMinutes > 0  %}<meta http-equiv="refresh" content="{{  refreshInMinutes * 60 }}">{%  endif %}
	</head>
	<body>
		<div id="pageWrapper" class="displayBoard">
			<div id="headerAndBodyWrapper">
				<div id="headerWrapper">
					{% if config.isSingleSiteMode %}
						<img src="/theme/default/img/logo.png?v={{ currentSite.logoCacheKey }}" alt="logo" class="logo">
						<h1><a href="/">{{ config.installTitle }}</a></h1>
					{% else %}
						<img src="/getLogo.php?v={{ currentSite.logoCacheKey }}" alt="logo" class="logo">
						<h1><a href="/">{{ currentSite.title }}</a></h1>
						<h2><a href="/">{{ config.installTitle }}</a></h2>
					{% endif %}					
				</div>
				<div class="displayBoardSegment">
					{% block today %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
				<div class="displayBoardSegment">
					{% block next %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
				<div class="displayBoardSegment">
					{% block later %}{% endblock %}
					<div class="afterDisplayBoardSegment"></div>
				</div>
				<form action="/displayboard" method="get">
					{% for key, value in configParameters %}
						<input type="hidden" name="{{ key|e('html_attr') }}" value="{{  value|e('html_attr') }}">
					{% endfor %}
					<input type="submit" value="Configure Board">
				</form>
			</div>
			<div id="footer">
				<p>
					<a href="https://sheffield.digital/">&copy; Sheffield Digital Limited {{ COPYRIGHT_YEARS }}</a>
				</p>
			</div>
		</div>
		{% include 'analytics.html.twig' %}
	</body>
</html>

